<!DOCTYPE html>
<html>
<head>
	<title>
		WebList
	</title>
	<link rel="stylesheet" type="text/css" href="../public/CSS/sheet.css">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="stylesheet" type="text/css" media="screen and (prefers-color-scheme: no-preference)" href="../public/CSS/lightColorSheet.css">
	<link rel="stylesheet" type="text/css" media="screen and (prefers-color-scheme: light)" href="../public/CSS/lightColorSheet.css">
	<link rel="stylesheet" type="text/css" media="screen and (prefers-color-scheme: dark)" href="../public/CSS/darkColorSheet.css">
	<link rel="stylesheet" type="text/css" media='screen' href="../public/CSS/navSheet.css">
	<link rel="stylesheet" type="text/css" media='screen' href="../public/CSS/timerSheet.css">

	<link rel="icon" href="../public/IMG/DeepTure.ico">
	<link rel="shortcut icon" href="../public/IMG/DeepTure.ico">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

	<meta charset="utf-8">
</head>
<body>
	<style type="text/css">
		@media (min-width: 600px) {
			#navbar.active{
				width: 6rem;
			}
		}
	</style>
	<nav class="addShadow" id="header">
        <article class="addLeftMargin">
			<img src="../public/IMG/WebListLogo.png" class="navImg">
			<p class="titleFont addLeftMargin alignMiddle">
				WebList Project
			</p>
		</article>

        <div class="navImg" id="toggle"></div>
        <div class="navImg" id="navbar">
			
            <ul>
                <li>
                	<!-- SE TIENE QUE CAMBIAR SEGUN DE DONDE VINO -->
					<% if (direccion != null){%>
					<a href="<%= direccion %>">
						Volver
					</a>
					<% } %>
					
                </li>
            </ul>
        </div>
    </nav>
    <script src="../public/JS/nav.js"></script>

	<div>
		<section class="defaultSectionSize addShadow">
			<p class="titleFont centerText addLeftMarginAlt addTopMarginAlt">
				Centro de ayuda
			</p>
			<br>
			<p class="addLeftMarginAlt centerText">
				Seleccione una sección
			</p>
			<br>
	<!-- Help del administrador-->
	<% if (rol == "administrador"){ %>
				<article class="autoManageTogetherAlways addLeftMarginAlt">
					<article class="largeButton autoManageStack">
						<a href="/bot" target="view" class="centerText blue">Consultar bot</a>
						<br>
						<a href="/contrasena" target="view" class="centerText blue">¿Cómo puedo cambiar mi contraseña?</a>
						<br>
						<a href="/registroalumn" target="view" class="centerText blue">¿Cómo registro alumnos?</a>
						<br>
						<a href="/altagrupo" target="view" class="centerText blue">¿Cómo doy de alta un grupo?</a>
					</article>
					<p style="visibility: hidden;"> space </p>	
					<article class="largeButton autoManageStack">
						<a href="/correo" target="view" class="centerText blue">¿Cómo puedo cambiar mi correo electrónico?</a>
						<br>
						<a href="/registroprof" target="view" class="centerText blue">¿Cómo registro profesores?</a>
						<br>
						<a href="/consultarinaadmin" target="view" class="centerText blue">¿Cómo puedo consultar los registros de inasistencias realizados?</a>
					</article>
				</article>
	<!-- Help del profesor-->
	<% }else if(rol == "profesor"){ %>
				<article class="autoManageTogetherAlways addLeftMarginAlt">
					<article class="largeButton autoManageStack">
						<a href="/bot" target="view" class="centerText blue">Consultar bot</a>
						<br>
						<a href="/contrasena" target="view" class="centerText blue">¿Cómo puedo cambiar mi contraseña?</a>
						<br>
						<a href="/proccesoasis" target="view" class="centerText blue">¿Cómo realizo el proceso de pase de asistencia?</a>
					</article>
					<p style="visibility: hidden;"> space </p>
					<article class="largeButton autoManageStack">
						<a href="/correo" target="view" class="centerText blue">¿Cómo puedo cambiar mi correo electrónico?</a>
						<br>
						<a href="/consultarinaprof" target="view" class="centerText blue">¿Cómo puedo consultar las inasistencias?</a>
					</article>
					<p style="visibility: hidden;"> space </p>
				</article>
	<!-- Help del alumno-->
	<% }else if(rol == "alumno"){%>
				<article class="autoManageTogetherAlways addLeftMarginAlt">
					<article class="largeButton autoManageStack">
						<a href="/bot" target="view" class="centerText blue">Consultar bot</a>
						<br>
						<a href="/contrasena" target="view" class="centerText blue">¿Cómo puedo cambiar mi contraseña?</a>
						<br>
						<a href="/registrarasis" target="view" class="centerText blue">¿Cómo puedo registrar mi asistencia?</a>
					</article>
					<p style="visibility: hidden;"> space </p>
					<article class="largeButton autoManageStack">
						<a href="/correo" target="view" class="centerText blue">¿Cómo puedo cambiar mi correo electrónico?</a>
						<br>
						<a href="/funciograficas" target="view" class="centerText blue">¿Cómo funcionan las gráficas?</a>
					</article>
					
				</article>
	<!-- Help inicio-->
	<% }else{ %>
				<article class="autoManageTogetherAlways addLeftMarginAlt">
					<article class="largeButton autoManageStack">
						<a href="/bot" target="view" class="centerText blue">Consultar bot</a>
						<br>
						<a href="/ingresar" target="view" class="centerText blue">¿Cómo puedo ingresar a mi cuenta?</a>
						<br>
						<a href="/recupero" target="view" class="centerText blue">¿Cómo puedo recuperar mi acceso?</a>
						<br>
						<a href="/consultar" target="view" class="centerText blue">¿Cómo puedo consultar soporte técnico?</a>
					</article>
					<p style="visibility: hidden;"> space </p>
				</article>
	<% } %>
			<br>
			<iframe src="" name="view" class="addLeftMarginAlt dashedBorder" style="height: 20rem;">
				
			</iframe>
		</section>
		</div>
	<div>
		<section class="defaultSectionSize addShadow" id="contactSupport">
			<p class="titleFont centerText addLeftMarginAlt addTopMarginAlt">
				¿Necesitas más ayuda?
			</p>
			<center>
				<img src="public/IMG/email-help.png" style="width: 18rem; margin-top: 20px;">
			</center>
			<br>
			<h2 class="centerText">Comunicate con nosotros</h2>
			<br>
			<p class="centerText">¿No encuentras lo que buscas?<br>Estamos aquí para contestar cualquier pregunta</p>
			<center>
				<br>
				<input type="button" value="Contactar a soporte" id="toContactButton" class="buttonInput submit">
			</center>
		</section>
		<section class="defaultSectionSize addShadow" id="contactSupportActive">
			<p class="titleFont centerText addLeftMarginAlt addTopMarginAlt">
				¿Necesitas más ayuda?
			</p>
			
			<!-- Este form es la parte del correo-->
			<form>
				<br>
				<p class="centertText">
					<div class="alignMiddle">
						<img class="inputIcon" src="public/IMG/user.png">
						<input class="largeInput" id="emailUser" type="email" placeholder="Correo electronico">
					</div>
					<br>
					<center>
						<label class="centerText">Redacte el problema</label>
					</center>
					<br>
					<div class="alignMiddle">
						<textarea id="message" class="textArea-help" rows="4" cols="50" class="largeInput" style="resize: none; -webkit-appearance: none; -moz-appearance: none; border-radius: 0.1rem; border: 0.15rem solid lightgray;">
						</textarea>
					</div>
					<center>
						<br>
						<input type="button" value="Enviar correo" id="sendEmailSupport" class="buttonInput submit">
					</center>
				</p>
			</form>
		</section>
	</div>

	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	<script src="public/JS/help.js"></script>
	<script src="public/JS/toGeneral.js"></script>
</body>
</html>