<!DOCTYPE html>
<html>
<head>
	<title>
		WebList
	</title>
	<link rel="stylesheet" type="text/css" href="../public/CSS/sheet.css">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="stylesheet" type="text/css" media="screen and (prefers-color-scheme: no-preference)" href="../public/CSS/lightColorSheet.css">
	<link rel="stylesheet" type="text/css" media="screen and (prefers-color-scheme: light)" href="../public/CSS/lightColorSheet.css">
	<link rel="stylesheet" type="text/css" media="screen and (prefers-color-scheme: dark)" href="../public/CSS/darkColorSheet.css">
	<link rel="stylesheet" type="text/css" media='screen' href="../public/CSS/navSheet.css">
	<link rel="stylesheet" type="text/css" media='screen' href="../public/CSS/timerSheet.css">

	<link rel="icon" href="../public/IMG/DeepTure.ico">
	<link rel="shortcut icon" href="../public/IMG/DeepTure.ico">

	<meta charset="utf-8">
</head>
<body>
	<style type="text/css">
		@media (min-width: 600px) {
			#navbar.active{
				width: 6rem;
			}
		}
	</style>
	<nav class="addShadow" id="header">
        <article class="addLeftMargin">
			<img src="../public/IMG/WebListLogo.png" class="navImg">
			<p class="titleFont addLeftMargin alignMiddle">
				WebList Project
			</p>
		</article>

        <div class="navImg" id="toggle"></div>
        <div class="navImg" id="navbar">
			
            <ul>
                <li>
                	<!-- SE TIENE QUE CAMBIAR SEGUN DE DONDE VINO -->
					<% if (direccion != null){%>
					<a href="<%= direccion %>">
						Volver
					</a>
					<% } %>
					
                </li>
            </ul>
        </div>
    </nav>
    <script src="../public/JS/nav.js"></script>

	<div>
		<section class="defaultSectionSize addShadow">
			<p class="titleFont centerText addLeftMarginAlt addTopMarginAlt">
				Centro de ayuda
			</p>
			<br>
			<p class="addLeftMarginAlt centerText">
				Seleccione una sección
			</p>
			<br>
			<article class="autoManageTogetherAlways addLeftMarginAlt">
				<article class="largeButton autoManageStack">
					<a href="/helpuno" target="view" class="centerText blue">Cuentas y contraseñas</a>
					<br>
					<a class="centerText blue">Funcionamiento de la página</a>
				</article>
				<p style="visibility: hidden;"> space </p>
				<article class="largeButton autoManageStack">
					<a class="centerText blue">Preguntas frecuentes</a>
					<br>
					<a class="centerText blue" href="#contactSupport">Soporte técnico</a>
				</article>
			</article>
			
			<br>

			<iframe src="" name="view" class="addLeftMarginAlt dashedBorder" style="height: 20rem;">
				
			</iframe>
		</section>
	</div>

	<div>
		<section class="defaultSectionSize addShadow" id="contactSupport">
			<p class="titleFont centerText addLeftMarginAlt addTopMarginAlt">
				¿Necesitas más ayuda?
			</p>
			<center>
				<img src="public/IMG/email-help.png" style="width: 18rem; margin-top: 20px;">
			</center>
			<br>
			<h2 class="centerText">Comunicate con nosotros</h2>
			<br>
			<p class="centerText">¿No encuentras lo que buscas?<br>Estamos aquí para contestar cualquier pregunta</p>
			<center>
				<br>
				<input type="button" value="Contactar a soporte" style="background-color: #0275d8; outline: none;">
			</center>
		</section>
	</div>

	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	<script src="../public/JS/toGeneral.js"></script>
</body>
</html>