<!DOCTYPE html>
<html>
<head>
	<title>
		WebList
	</title>
	<link rel="stylesheet" type="text/css" href="../public/CSS/sheet.css">
	<link rel="stylesheet" type="text/css" media="screen and (prefers-color-scheme: no-preference)" href="../public/CSS/lightColorSheet.css">
	<link rel="stylesheet" type="text/css" media="screen and (prefers-color-scheme: light)" href="../public/CSS/lightColorSheet.css">
	<link rel="stylesheet" type="text/css" media="screen and (prefers-color-scheme: dark)" href="../public/CSS/darkColorSheet.css">
	<link rel="stylesheet" type="text/css" media='screen' href="../public/CSS/navSheet.css">
	<link rel="stylesheet" type="text/css" media='screen' href="../public/CSS/timerSheet.css">

	<link rel="icon" href="../public/IMG/DeepTure.ico">
	<link rel="shortcut icon" href="../public/IMG/DeepTure.ico">

	<meta charset="utf-8">
</head>
<body>
	<div>
		<section class="sectionSizeXLW autoManageSpaced" style="margin: 1%;">
			<!-- Izquierda -->
			<section class="squareSectionSizeLWAlt addTopMarginAlt centerText">
				<img src="../public/IMG/users.png" class="helpImg">
				<br><br>
				<p class="titleFont centerText">
					Cuentas y contraseñas
				</p>
			</section>
			
			<!-- Derecha -->
			<section class="squareSectionSizeLWAlt addTopMarginAlt">
				<p>
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit aspernatur nobis, consequuntur eligendi sed quod optio. Unde sunt at mollitia, doloremque corporis magni voluptas deserunt laboriosam, dignissimos quibusdam error vero..
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit aspernatur nobis, consequuntur eligendi sed quod optio. Unde sunt at mollitia, doloremque corporis magni voluptas deserunt laboriosam, dignissimos quibusdam error vero..
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit aspernatur nobis, consequuntur eligendi sed quod optio. Unde sunt at mollitia, doloremque corporis magni voluptas deserunt laboriosam, dignissimos quibusdam error vero..
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit aspernatur nobis, consequuntur eligendi sed quod optio. Unde sunt at mollitia, doloremque corporis magni voluptas deserunt laboriosam, dignissimos quibusdam error vero..
				</p>
			</section>
		</section>
	</div>
</body>
</html>