<!DOCTYPE html>
<html>
    <head>
        <title>WebList</title>
        <link rel="stylesheet" type="text/css" href="../public/CSS/sheet.css" />
        <link
            rel="stylesheet"
            type="text/css"
            media="screen and (prefers-color-scheme: no-preference)"
            href="../public/CSS/lightColorSheet.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            media="screen and (prefers-color-scheme: light)"
            href="../public/CSS/lightColorSheet.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            media="screen and (prefers-color-scheme: dark)"
            href="../public/CSS/darkColorSheet.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            media="screen"
            href="../public/CSS/navSheet.css"
        />
        <script
            src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"
        ></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        <link rel="icon" href="../public/IMG/DeepTure.ico" />
        <link rel="shortcut icon" href="../public/IMG/DeepTure.ico" />
        <meta name="viewport" content="width=device-width, user-scalable=no"/>
        <script src="https://unpkg.com/scrollreveal"></script>
        <meta charset="utf-8" />
    </head>
    <body>
        <style type="text/css">
            @media (min-width: 600px) {
                #navbar.active {
                    width: 16rem;
                }
            }
        </style>
        <nav class="addShadow idex navegation" id="header">
            <article class="addLeftMargin">
                <img src="../public/IMG/WebListLogo.png" class="navImg" />
                <p class="titleFont addLeftMargin alignMiddle">
                    WebList Project
                </p>
            </article>

            <div class="navImg" id="toggle"></div>
            <div class="navImg" id="navbar">
                <ul>
                    <li>
                        <a href="/recovery"> Recuperar acceso </a>
                    </li>
                    <li>
                        <a href="/help"> Ayuda </a>
                    </li>
                </ul>
            </div>
        </nav>
        <script src="../public/JS/nav.js"></script>

        <div>
            <section class="squareSectionSize addLargeTopMargin addShadow">
                <p class="titleFont addTopMargin centerText">Iniciar sesión</p>

                <section id="regularLogin">
                    <form
                        id="regularLog"
                        action="/InicioSesionController"
                        method="POST"
                    >
                        <br />
                        <div class="alignMiddle">
                            <img
                                class="inputIcon"
                                src="../public/IMG/user.png"
                            />
                            <input
                                class="largeInput userNameI"
                                type="text"
                                name="username"
                                placeholder="Usuario"
                            />
                        </div>

                        <br />
                        <br />

                        <div class="alignMiddle">
                            <img
                                class="inputIcon"
                                src="../public/IMG/key.png"
                            />
                            <input
                                class="largeInput passwordI"
                                type="password"
                                name="password"
                                placeholder="Contraseña"
                            />
                        </div>
                        <br />
                        <br />

                        <div class="alignMiddle">
                            <img
                                class="inputIcon"
                                src="../public/IMG/users.png"
                            />
                            <select class="largeInput rolI" id="kind" name="rol">
                                <option class="largeInput">
                                    -- Seleccione su perfil --
                                </option>
                                <option class="largeInput">
                                    Administrador
                                </option>
                                <option class="largeInput">Profesor</option>
                                <option class="largeInput">Alumno</option>
                            </select>
                        </div>

                        <br />
                    </form>
                </section>
                <section id="signLogin" style="display: none">
                    <form id="signLog" action="/signLog" method="POST">
                        <br />
                        <div class="alignMiddle">
                            <img
                                class="inputIcon"
                                src="../public/IMG/user.png"
                            />
                            <input
                                class="largeInput"
                                type="text"
                                name="usr"
                                id="usr"
                                placeholder="Usuario"
                            />
                        </div>

                        <br />
                        <br />
                        <div class="alignMiddle">
                            <img
                                class="inputIcon"
                                src="../public/IMG/file.png"
                            />
                            <input
                                class="largeInput"
                                type="file"
                                name="signature"
                                id="sign"
                                placeholder="archivo .dat"
                                accept=".dat"
                            />
                        </div>

                        <br />
                        <br />

                        <div class="alignMiddle">
                            <img
                                class="inputIcon"
                                src="../public/IMG/users.png"
                            />
                            <select class="largeInput" id="rol" name="rol">
                                <option class="largeInput">
                                    -- Seleccione su perfil --
                                </option>
                                <option class="largeInput">
                                    Administrador
                                </option>
                                <option class="largeInput">Profesor</option>
                                <option class="largeInput">Alumno</option>
                            </select>
                        </div>

                        <br />
                        <input
                            id="usrRolId"
                            name="usrRol"
                            type="hidden"
                            value=""
                        />
                        <input
                            id="pswId"
                            name="password"
                            type="hidden"
                            value=""
                        />
                        <input
                            id="usrId"
                            name="username"
                            type="hidden"
                            value=""
                        />
                    </form>
                </section>
                <p class="centerText">
                    <br /><br /><br /><br />

                    <input
                        class="buttonInput submit"
                        type="submit"
                        name="login"
                        value="Iniciar sesión"
                        id="logIn"
                    />
                    <input
                        class="buttonInput"
                        type="button"
                        name="signature"
                        value="Usar firma digital"
                        id="digitalSign"
                    />
                </p>
            </section>
        </div>
        <% if (err != "") { %>
        <input type="hidden" id="temp" value="<%= err %>" />
        <script>
            $(document).ready(() => {
                toast($("#temp").val(), "");
                $("#temp").remove();
            });
        </script>
        <% } %>
        <script>
            sessionStorage.clear();
        </script>
        <script src="public/JS/loginControlls.js"></script>
        <script src="public/JS/toGeneral.js"></script>
        <script>
            ScrollReveal().reveal('.navegation',{delay:500, origin:'right', distance:'300px'});
            ScrollReveal().reveal('.squareSectionSize',{delay:500, origin:'left', distance:'300px'});
        </script>
    </body>
</html>
