<!DOCTYPE html>
<html>
<head>
	<title>
		WebList
	</title>
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="../public/CSS/sheet.css">
	<link rel="stylesheet" type="text/css" media="screen and (prefers-color-scheme: no-preference)" href="../public/CSS/lightColorSheet.css">
	<link rel="stylesheet" type="text/css" media="screen and (prefers-color-scheme: light)" href="../public/CSS/lightColorSheet.css">
	<link rel="stylesheet" type="text/css" media="screen and (prefers-color-scheme: dark)" href="../public/CSS/darkColorSheet.css">
	<link rel="stylesheet" type="text/css" media='screen' href="../public/CSS/navSheet.css">

	<link rel="icon" href="../public/IMG/DeepTure.ico">
	<link rel="shortcut icon" href="../public/IMG/DeepTure.ico">

	<meta charset="utf-8">
</head>
<body>
	<style type="text/css">
		@media (min-width: 600px) {
			#navbar.active{
				width: 13.8rem;
			}
		}
	</style>
	<nav class="addShadow" id="header">
        <article class="addLeftMargin">
			<img src="../public/IMG/WebListLogo.png" class="navImg">
			<p class="titleFont addLeftMargin alignMiddle">
				WebList Project
			</p>
		</article>

        <div class="navImg" id="toggle"></div>
        <div class="navImg" id="navbar">
            <ul>
                <li>
                	<a href="/">
                		Iniciar sesión
                	</a>
                </li>
                <li>
                	<a href="/help">
                		Ayuda
                	</a>
                </li>
            </ul>
        </div>
    </nav>
    <script src="../public/JS/nav.js"></script>

	<div>
		<section class="squareSectionSize addLargeTopMargin addShadow">
			<form>
				<p class="titleFont addTopMargin centerText">
					Recuperar accesso
				</p>
				<p class=" centerText">
					<!-- Primera parte del recovery-->
					<br class="first-action">
					<div class="alignMiddle first-action">
						<img class="inputIcon" src="../public/IMG/mail.png">
						<input class="largeInput" id="username" type="text" name="username" placeholder="Numero de usuario">
					</div>
					<br class="first-action">
					<div class="alignMiddle first-action">
						<img class="inputIcon" src="../public/IMG/mail.png">
						<input class="largeInput" id="email" type="email" name="mail" placeholder="Correo electrónico">
					</div>
					<br class="first-action">
					<div class="alignMiddle first-action">
                        <img class="inputIcon" src="../public/IMG/users.png">
                        <select class="largeInput" id="rol" name="rol">
                            <option class="largeInput">
                                -- Seleccione su perfil --
                            </option>
                            <option class="largeInput">
                                Administrador
                            </option>
                            <option class="largeInput">
                                Profesor
                            </option>
                            <option class="largeInput">
                                Alumno
                            </option>
                        </select>
                    </div>
					<p class="centerText first-action">
						<br>
						<input class="buttonInput fullLargeButton submit" id="sendEmail" type="button" name="sent" value="Enviarme codigo de acceso">
					</p>
					<!-- Segunda parte del recovery-->
					<br>
					<br>
					<div class="alignMiddle second-action">
						<img class="inputIcon" src="../public/IMG/key.png">
						<input class="largeInput" type="password" name="password" placeholder="Código de acceso temporal">
					</div>
					<br>
				</p>
				<p class="centerText second-action">
					<input class="buttonInput fullLargeButton submit" type="button" name="login" value="Verificar">
				</p>
			</form>
		</section>
	</div>

	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	<script src="../public/JS/recoverCount.js"></script>
</body>
</html>