*{
	color: white;
}

body{
	background-color: rgb(29, 29, 31);
}

section{
	background-color: rgb(0, 0, 0);
}

nav{
	background-color: rgb(0, 0, 0);
}

input, select, option{
	background-color: rgb(0, 0, 0);
}

.grayHighlight:hover{
	background-color: rgb(150, 150, 150);
	transition: 1s background;
}