<!DOCTYPE html>
<html>
    <head>
        <title>WebList</title>
        <link rel="stylesheet" type="text/css" href="../public/CSS/sheet.css" />
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link
            rel="stylesheet"
            type="text/css"
            media="screen and (prefers-color-scheme: no-preference)"
            href="../public/CSS/lightColorSheet.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            media="screen and (prefers-color-scheme: light)"
            href="../public/CSS/lightColorSheet.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            media="screen and (prefers-color-scheme: dark)"
            href="../public/CSS/darkColorSheet.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            media="screen"
            href="../public/CSS/navSheet.css"
        />
        <link
            rel="stylesheet"
            type="text/css"
            media="screen"
            href="../public/CSS/timerSheet.css"
        />

        <link rel="icon" href="../public/IMG/DeepTure.ico" />
        <link rel="shortcut icon" href="../public/IMG/DeepTure.ico" />
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

        <script src="../public/JS/timer.js"></script>

        <meta charset="utf-8" />
    </head>
    <body>
        <style type="text/css">
            @media (min-width: 600px) {
                #navbar.active {
                    width: 25rem;
                }
            }
            #inputShowCode:focus{
                outline: none;
            }
            #inputShowCode::selection{
                background-color: transparent;
            }
            #inputShowCode::moz-selection{
                background-color: transparent;
            }
            #inputShowCode{
                cursor: pointer;
            }
        </style>
        <nav class="addShadow" id="header">
            <article class="addLeftMargin">
                <img src="../public/IMG/WebListLogo.png" class="navImg" />
                <p class="titleFont addLeftMargin alignMiddle">
                    WebList Project
                </p>
            </article>

            <div class="navImg" id="toggle"></div>
            <div class="navImg" id="navbar">
                <ul>
                    <li>
                        <a href="/home/perfil"> Mi perfil </a>
                    </li>
                    <li>
                        <a href="/home/historial"> Graficas </a>
                    </li>
                    <li>
                        <a href="/logout"> Cerrar sesi贸n </a>
                    </li>
                    <li>
                        <a href="/home/help"> Ayuda </a>
                    </li>
                </ul>
            </div>
        </nav>
        <script src="../public/JS/nav.js"></script>

        <div>
            <section class="defaultSectionSize autoManageSpaced addShadow">
                <!-- Izquierda -->
                <section class="squareSectionSizeLW addTopMarginAlt">
                    <p
                        class="
                            titleFont
                            centerText
                            addLeftMarginAlt
                            addTopMarginAlt
                        "
                    >
                        Bienvenido <%= id %>
                    </p>
                    <input type="hidden" value="<%= id %>" id="idTeacher">
                    <br />

                    <aside class="addLeftMarginAlt">
                        <label class="groupsSection">Seleccione un grupo</label>
                        <br />

                        <br />

                        <article class="autoManageCenter groupsSection" id="groups">
                            <input
                                class="buttonInput smallButton blue"
                                type="button"
                                name="groupA"
                                value="6IAB"
                            />
                            <input
                                class="buttonInput smallButton blue"
                                type="button"
                                name="groupA"
                                value="6ICD"
                            />
                            <input
                                class="buttonInput smallButton blue"
                                type="button"
                                name="groupA"
                                value="6IEF"
                            />
                        </article>
                        <br>

                        <aside class="autoManageSpacedAlways" id="subjects">
                            Seleccione la materia
                            <br>
                            <select class="buttonInput alignMiddle largeInput" id="selectSubjects">
                                <option>LPTI</option>
                            </select>
                        </aside>

                        <br />

                        <aside class="autoManageSpacedAlways" id="settingsCode">
                            Duraci贸n del codigo
                            <br>
                            <select
                                class="buttonInput alignMiddle smallButton"
                                id="timeSetter">
                                <option>50 min</option>
                                <option>30 min</option>
                                <option>10 min</option>
                                <option>5 min</option>
                                <option>3 min</option>
                                <option>1 min</option>
                            </select>
                        </aside>

                        <br>
                        <aside class="autoManageSpacedAlways" id="showCode">
                            C贸digo de la clase
                            <br />
                            <input type="text" id="inputShowCode" style="outline: none;" readonly>
                            
                            <span id="clipButton" style="cursor: pointer;">
                                <i>Copy</i>
                            </span>
                            <span id="copyMessage">
                                <i>Copied</i>
                            </span>
                            <input type="hidden" id="codeToCopy" value="">
                        </aside>

                        <br />
                    </aside>

                    <input
                        class="buttonInput addLeftMarginAlt blue"
                        type="button"
                        name="generateCode"
                        value="Generar c贸digo"
                        id="generateCode"
                    />

                    <br />
                    <br />

                    <p class="centerText">
                        Tiempo restante para que cierre el sistema
                    </p>

                    <br />

                    <article
                        class="autoManageCenter addLeftMarginAlt centerText"
                    >
                        <div class="timer">
                            <div class="titleFontLarge" id="minuto">NA</div>
                            <div class="titleFontLarge" id="segundo">NA</div>
                        </div>

                        <p style="visibility: hidden">sp</p>

                        
                    </article>
                </section>

                <!-- Derecha -->
                <section class="squareSectionSizeLW addTopMarginAlt">
                    <p class="centerText addLeftMarginAlt addTopMarginAlt">
                        Solicitudes de asistencia pendientes
                    </p>

                    <br />

                    <table
                        class="addLeftMarginAlt"
                        cellspacing="0"
                        cellpadding="0"
                        id="attendanceRegistration"
                    >
                        <tr class="title">
                            <th>boleta</th>
                            <th>Nombre</th>
                            <th>
                                <input
                                    class="buttonInput tinyButtonLW green"
                                    type="button"
                                    name="acceptAll"
                                    value="Aceptar todo"
                                    onclick="acceptAll()"
                                />
                            </th>
                        </tr>
                    </table>
                </section>
            </section>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	<script src="/socket.io/socket.io.js"></script>
    <script src="../public/JS/toGeneral.js"></script>
    <script src="public/JS/hometeacher.js"></script>
    <script src="public/JS/homeTeacherSocket.js"></script>
</html>
