<!DOCTYPE html>
<html>
<head>
	<title>
		WebList
	</title>
	<link rel="stylesheet" type="text/css" href="../public/CSS/sheet.css">
	<link rel="stylesheet" type="text/css" media="screen and (prefers-color-scheme: no-preference)" href="../public/CSS/lightColorSheet.css">
	<link rel="stylesheet" type="text/css" media="screen and (prefers-color-scheme: light)" href="../public/CSS/lightColorSheet.css">
	<link rel="stylesheet" type="text/css" media="screen and (prefers-color-scheme: dark)" href="../public/CSS/darkColorSheet.css">
	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" media='screen' href="../public/CSS/navSheet.css">
	<link rel="stylesheet" type="text/css" media='screen' href="../public/CSS/timerSheet.css">

	<link rel="icon" href="../public/IMG/DeepTure.ico">
	<link rel="shortcut icon" href="../public/IMG/DeepTure.ico">
	<meta charset="utf-8">
</head>
<body>
	<style type="text/css">
		@media (min-width: 600px) {
			#navbar.active{
				width: 25rem;
			}
		}
	</style>
	<nav class="addShadow" id="header">
        <article class="addLeftMargin">
			<img src="../public/IMG/WebListLogo.png" class="navImg">
			<p class="titleFont addLeftMargin alignMiddle">
				WebList Project
			</p>
		</article>

        <div class="navImg" id="toggle"></div>
        <div class="navImg" id="navbar">
            <ul>
                <li>
                	<a href="/home/perfil">
                		Mi perfil
                	</a>
                </li>
                <li>
                	<a href="/home/historial">
                		Graficas
                	</a>
                </li>
                <li>
                	<a href="/logout">
                		Cerrar sesión
                	</a>
                </li>
                <li>
                	<a href="/home/help">
                		Ayuda
                	</a>
                </li>
            </ul>
        </div>
    </nav>
    <script src="../public/JS/nav.js"></script>

	<div>
		<section class="defaultSectionSize autoManageSpaced addShadow">
			<!-- Izquierda -->
			<section class="squareSectionSizeLW addTopMarginAlt">
				<p class="titleFont addTopMarginAlt centerText">
					Vizualización de datos
				</p>

				<br>

				<article class="autoManageSpaced addLeftMarginAlt">
					<aside class="autoManageTogether">
						<input class="buttonInput smallButton blue" type="button" name="professorEntities" value="Profesores">
						<input class="buttonInput smallButton blue" type="button" name="studentEntities" value="Alumnos">
					</aside>

					<input class="smallInput centerText" type="text" name="search" placeholder="Buscar">
				</article>

				<br>

				<table class="addLeftMarginAlt" cellspacing="0" cellpadding="0">
					<tr class="title">
						<th>
							ID
						</th>
						<th>
							Nombre
						</th>
						<th>
							Ap_paterno
						</th>
						<th>
							Ap_materno
						</th>
						<th>
							Rol
						</th>
						<th>
								
						</th>
					</tr>
					<tr>
						<td>
							2019090000
						</td>
						<td>
							Sultano
						</td>
						<td>
							de Tal
						</td>
						<td>
							Undefined
						</td>
						<td>
							Alumno
						</td>
						<td>
							<article class="autoManageTogether">
								<!-- Para fines de prueba, esta en a, pero puede ser cambiado a input -->
								<a href="/home/modify" class="buttonInput tinyButton blue" type="button" name="modify" value="Modificar">Modificar</a>
							<input class="buttonInput tinyButton red" type="button" name="delete" value="Eliminar">
						</article>
						</td>
					</tr>
					<tr>
						<td>
							2019090001
						</td>
						<td>
							Fulano
						</td>
						<td>
							de Tal
						</td>
						<td>
							Undefined
						</td>
						<td>
							Alumno
						</td>
						<td>
							<article class="autoManageTogether">
								<!-- Para fines de prueba, esta en a, pero puede ser cambiado a input -->
								<a href="/home/modify" class="buttonInput tinyButton blue" type="button" name="modify" value="Modificar">Modificar</a>
							<input class="buttonInput tinyButton red" type="button" name="delete" value="Eliminar">
						</article>
						</td>
					</tr>
				</table>

				<style type="text/css">
					tr, th, td{
						text-align: center;
						padding-right: 1rem;
						padding-left: 1rem;
						height: 1.4rem;
						transition: 1s background;
					}
				</style>

</section>

<!-- Derecha -->
<section class="squareSectionSizeLW addTopMarginAlt">
	<p class="titleFont centerText addLeftMarginAlt addTopMarginAlt">
		Agregar datos de usuarios
	</p>
	
	<br>
	
	<aside class="addLeftMarginAlt">
		
		<br>

		<aside class="autoManageSpacedAlways">
			ID
			<br>
			<input class="smallInput" type="text" id="aid" name="ID" placeholder="ID">
		</aside>

		<br>

		<aside class="autoManageSpacedAlways">
			Nombre
			<br>
			<input class="smallInput" type="text" id="aname" name="name" placeholder="Nombre">
		</aside>

		<br>

		<aside class="autoManageSpacedAlways">
			Apellido paterno
			<br>
			<input class="smallInput" type="text" id="alastf" name="lastName" placeholder="Apellido paterno">
		</aside>

		<br>

		<aside class="autoManageSpacedAlways">
			Apellido materno
			<br>
			<input class="smallInput" type="text" id="alastm" name="lastName1" placeholder="Apellido materno">
		</aside>

		<br>

		<aside class="autoManageSpacedAlways">
			Rol
			<br>
			<select class="smallInput centerText" id="arol" name="role">
				<option class="smallInput centerText">
					Profesor
				</option>
				<option class="smallInput centerText">
					Alumno
				</option>
			</select>
		</aside>
	
		<br>

	</aside>			

	<input class="buttonInput addLeftMarginAlt blue" id="addUser" type="button" name="sent" value="Agregar usuario">
	
	<br><br>

	<input class="buttonInput addLeftMarginAlt tallInput dashedBorder green" type="button" name="fastRegister" value="Subir archivo CSV">
			</section>
		</section>
	</div>

	<script src="public/JS/toGeneral.js"></script>
	<script src="public/JS/studentCrud.js"></script>
</body>
</html>