<link rel="stylesheet" type="text/css" href="../public/CSS/sheet.css">
<link rel="stylesheet" type="text/css" media="screen and (prefers-color-scheme: no-preference)" href="../public/CSS/lightColorSheet.css">
<link rel="stylesheet" type="text/css" media="screen and (prefers-color-scheme: light)" href="../public/CSS/lightColorSheet.css">
<link rel="stylesheet" type="text/css" media="screen and (prefers-color-scheme: dark)" href="../public/CSS/darkColorSheet.css">
<link rel="stylesheet" type="text/css" media='screen' href="../public/CSS/navSheet.css">
<link rel="stylesheet" type="text/css" media='screen' href="../public/CSS/timerSheet.css">

<link rel="icon" href="../public/IMG/DeepTure.ico">
<link rel="shortcut icon" href="../public/IMG/DeepTure.ico">

<meta charset="utf-8">
</head>
<body>
<div>
    <section class="sectionSizeXLW autoManageSpaced" style="margin: 1%;">
        <!-- Izquierda -->
        <section class="squareSectionSizeLWAlt addTopMarginAlt centerText">
            <br><br>
            <p class="titleFont centerText">
                ¿Cómo doy de alta un grupo?    
            </p>
        </section>
        <!-- Derecha -->
        <section class="squareSectionSizeLWAlt addTopMarginAlt">
            <p>
                Para dar de alta un grupo en el inicio, en la parte derecha deberá de escoger el grupo a dar de alta, después de ello, presionar en el botón "Agregar grupo"
                <br>
                Nota: En caso de que el grupo este dado de alta, éste no será una opción para escoger
            </p>
        </section>
    </section>
</div>
</body>