<body>
    <style>
        iframe{
            position: fixed;
            width: calc(100% - 20px);
            height: calc(100% - 20px);
            border: 1px solid #cccccc;
            text-align: center;
            align-items: center;
        }
    </style>  
    <iframe
    allow="microphone;"
    width="350"
    height="430"
    src="https://console.dialogflow.com/api-client/demo/embedded/e1789df7-8c2e-44df-aff4-3910d7a56a95">
    </iframe>
</body>