<link rel="stylesheet" type="text/css" href="../public/CSS/sheet.css">
<link rel="stylesheet" type="text/css" media="screen and (prefers-color-scheme: no-preference)" href="../public/CSS/lightColorSheet.css">
<link rel="stylesheet" type="text/css" media="screen and (prefers-color-scheme: light)" href="../public/CSS/lightColorSheet.css">
<link rel="stylesheet" type="text/css" media="screen and (prefers-color-scheme: dark)" href="../public/CSS/darkColorSheet.css">
<link rel="stylesheet" type="text/css" media='screen' href="../public/CSS/navSheet.css">
<link rel="stylesheet" type="text/css" media='screen' href="../public/CSS/timerSheet.css">

<link rel="icon" href="../public/IMG/DeepTure.ico">
<link rel="shortcut icon" href="../public/IMG/DeepTure.ico">

<meta charset="utf-8">
</head>
<body>
<div>
    <section class="sectionSizeXLW autoManageSpaced" style="margin: 1%;">
        <!-- Izquierda -->
        <section class="squareSectionSizeLWAlt addTopMarginAlt centerText">
            <br><br>
            <p class="titleFont centerText">
                ¿Cómo puedo consultar las inasistencias?
            </p>
        </section>
        
        <!-- Derecha -->
        <section class="squareSectionSizeLWAlt addTopMarginAlt">
            <p>
                Para esto, debe de ir al menú (Ubicado en la parte superior derecha) e ira la sección de "Gráficas", donde al principio se le mostraran todos los registros de inasistencias realizados en su cuenta en presentación de tabla y gráfica, tendrá la opción de aplicar filtros ya sea por grupo, materia o por fechas dependiendo sus necesidades, también tiene la opción de eliminar un registro de inasistencia en la tabla, ubicando al registro y dando en el botón de "Eliminar"
            </p>
        </section>
    </section>
</div>
</body>