	<link rel="stylesheet" type="text/css" href="../public/CSS/sheet.css">
	<link rel="stylesheet" type="text/css" media="screen and (prefers-color-scheme: no-preference)" href="../public/CSS/lightColorSheet.css">
	<link rel="stylesheet" type="text/css" media="screen and (prefers-color-scheme: light)" href="../public/CSS/lightColorSheet.css">
	<link rel="stylesheet" type="text/css" media="screen and (prefers-color-scheme: dark)" href="../public/CSS/darkColorSheet.css">
	<link rel="stylesheet" type="text/css" media='screen' href="../public/CSS/navSheet.css">
	<link rel="stylesheet" type="text/css" media='screen' href="../public/CSS/timerSheet.css">

	<link rel="icon" href="../public/IMG/DeepTure.ico">
	<link rel="shortcut icon" href="../public/IMG/DeepTure.ico">

	<meta charset="utf-8">
</head>
<body>
	<div>
		<section class="sectionSizeXLW autoManageSpaced" style="margin: 1%;">
			<!-- Izquierda -->
			<section class="squareSectionSizeLWAlt addTopMarginAlt centerText">
				<br><br>
				<p class="titleFont centerText">
					¿Cómo puedo ingresar a mi cuenta?
				</p>
			</section>
			
			<!-- Derecha -->
			<section class="squareSectionSizeLWAlt addTopMarginAlt">
				<p>
					Para ingresar a su cuenta necesitamos primero que su cuenta este dada en el sistema por el administrador, en el caso de que no lo esté, contactar con la UDI, en caso contrario, requerimos de su ID (Profesor: No. Empleado, Alumno: Boleta) y contraseña, los pasos que debe de seguir son los siguientes:
					<br><br>
					1. Ingresar al sistema
					<br>
					2. Introducir en el apartado de Usuario su ID
					<br>
					3. Introducir en el apartado de Contraseña su contraseña
					<br>
					Nota: En caso de que sea la primera vez en ingresar al sistema su contraseña, será la misma que su ID
					<br>
					4. Seleccionar su rol de usuario
					<br>
					5. Presionar en el botón "Iniciar sesión"
					<br><br>
					Como resultado final debe de ingresar al inicio, cambiando la vista de la página, en caso contrario seguirá en la misma vista
				</p>
			</section>
		</section>
	</div>
</body>
