<link rel="stylesheet" type="text/css" href="../public/CSS/sheet.css">
<link rel="stylesheet" type="text/css" media="screen and (prefers-color-scheme: no-preference)" href="../public/CSS/lightColorSheet.css">
<link rel="stylesheet" type="text/css" media="screen and (prefers-color-scheme: light)" href="../public/CSS/lightColorSheet.css">
<link rel="stylesheet" type="text/css" media="screen and (prefers-color-scheme: dark)" href="../public/CSS/darkColorSheet.css">
<link rel="stylesheet" type="text/css" media='screen' href="../public/CSS/navSheet.css">
<link rel="stylesheet" type="text/css" media='screen' href="../public/CSS/timerSheet.css">

<link rel="icon" href="../public/IMG/DeepTure.ico">
<link rel="shortcut icon" href="../public/IMG/DeepTure.ico">

<meta charset="utf-8">
</head>
<body>
<div>
    <section class="sectionSizeXLW autoManageSpaced" style="margin: 1%;">
        <!-- Izquierda -->
        <section class="squareSectionSizeLWAlt addTopMarginAlt centerText">
            <br><br>
            <p class="titleFont centerText">
                ¿Cómo realizo el proceso de pase de asistencia?
            </p>
        </section>
        
        <!-- Derecha -->
        <section class="squareSectionSizeLWAlt addTopMarginAlt">
            <p>
                Para realizar el pase de asistencia debe de estar en el inicio y seguir los siguientes pasos;
                <br><br>
                1. Seleccionar al grupo al que pasará asistencia donde se desplegará un menú de configuración
                <br>
                2. Seleccionar la materia al que pasará asistencia
                <br>
                3. Seleccionar la duración del código de clase
                <br>
                4. Presionar en "Generar código"
                <br><br>
                En ese momento, le aparecerá el código de clase que deberá compartir a los alumnos, tiene la opción de copiar directamente, al mismo tiempo comenzará un temporizador refiriéndose al tiempo que queda del código de clase.
                En el momento de que el código esté funcionando, les llegará las peticiones que serán visualizadas en la tabla de la derecha, teniendo la opción de aceptar, declinar la solicitud o de una vez aceptar todas las solicitudes realizadas en ese momento, cuando el temporizador acabe por default acepta todas las solicitudes y las que no fueron enviados, se les marcará su inasistencia.                
            </p>
        </section>
    </section>
</div>
</body>