<link rel="stylesheet" type="text/css" href="../public/CSS/sheet.css">
<link rel="stylesheet" type="text/css" media="screen and (prefers-color-scheme: no-preference)" href="../public/CSS/lightColorSheet.css">
<link rel="stylesheet" type="text/css" media="screen and (prefers-color-scheme: light)" href="../public/CSS/lightColorSheet.css">
<link rel="stylesheet" type="text/css" media="screen and (prefers-color-scheme: dark)" href="../public/CSS/darkColorSheet.css">
<link rel="stylesheet" type="text/css" media='screen' href="../public/CSS/navSheet.css">
<link rel="stylesheet" type="text/css" media='screen' href="../public/CSS/timerSheet.css">

<link rel="icon" href="../public/IMG/DeepTure.ico">
<link rel="shortcut icon" href="../public/IMG/DeepTure.ico">

<meta charset="utf-8">
</head>
<body>
<div>
    <section class="sectionSizeXLW autoManageSpaced" style="margin: 1%;">
        <!-- Izquierda -->
        <section class="squareSectionSizeLWAlt addTopMarginAlt centerText">
            <br><br>
            <p class="titleFont centerText">
                ¿Cómo puedo recuperar mi acceso?
            </p>
        </section>
        
        <!-- Derecha -->
        <section class="squareSectionSizeLWAlt addTopMarginAlt">
            <p>
                En caso de que haya extraído su contraseña o no tenga forma de acceder a su cuenta, requerimos que su correo electrónico este dado de alta en su cuenta para seguir con este proceso. Después seguir con los siguientes pasos:
                <br><br>
                1. Ingresar al sistema
                <br>
                2. Dirigirse al menú (Ubicado en la parte superior derecha)
                <br>
                3. Dar clic en Recuperar acceso
                <br>
                4. Ingresar su ID
                <br>
                5. Ingresar su correo electrónico
                <br>
                6. Seleccionar el tipo de rol que efectúa su cuenta
                <br>
                7. Presionar en el botón de "Enviarme código de acceso"
                <br>
                Nota: en ese momento le llegará a su correo un mensaje donde contiene el código de acceso, en el caso de que no lo haya recibido, revisar el SPAM y proseguir con el proceso:
                <br>
                8. Ingresar código
                <br>
                9. Presionar en "Verificar"
                <br><br>
                En caso de que sea correcto, este debería de acceder a su cuenta correctamente en el apartado de su perfil

            </p>
        </section>
    </section>
</div>
</body>