<link rel="stylesheet" type="text/css" href="../public/CSS/sheet.css">
<link rel="stylesheet" type="text/css" media="screen and (prefers-color-scheme: no-preference)" href="../public/CSS/lightColorSheet.css">
<link rel="stylesheet" type="text/css" media="screen and (prefers-color-scheme: light)" href="../public/CSS/lightColorSheet.css">
<link rel="stylesheet" type="text/css" media="screen and (prefers-color-scheme: dark)" href="../public/CSS/darkColorSheet.css">
<link rel="stylesheet" type="text/css" media='screen' href="../public/CSS/navSheet.css">
<link rel="stylesheet" type="text/css" media='screen' href="../public/CSS/timerSheet.css">

<link rel="icon" href="../public/IMG/DeepTure.ico">
<link rel="shortcut icon" href="../public/IMG/DeepTure.ico">

<meta charset="utf-8">
</head>
<body>
<div>
    <section class="sectionSizeXLW autoManageSpaced" style="margin: 1%;">
        <!-- Izquierda -->
        <section class="squareSectionSizeLWAlt addTopMarginAlt centerText">
            <br><br>
            <p class="titleFont centerText">
                ¿Cómo registro alumnos?
            </p>
        </section>
        
        <!-- Derecha -->
        <section class="squareSectionSizeLWAlt addTopMarginAlt">
            <p>
                Para realizar esta acción se puede realizar de 2 formas, la primera es mediante un formulario, la cual debe de seguir estos pasos:
                <br><br>
                1. Ingresar su boleta en el campo de ID
                <br>
                2. Ingresar su nombre
                <br>
                3. Ingresar su apellido paterno
                <br>
                4. Ingresar su apellido materno
                <br>
                5. Seleccionar el rol de alumno
                <br>
                6. Seleccionar el grupo destinado 
                <br>
                Nota: para ello se requiere que al menos el grupo esté dado de alta, en caso de que el alumno tenga más de 2 grupos, presionará en "Añadir grupo" y seleccionará el grupo
                <br>
                7. Presionar en el botón de "Agregar usuario"
                <br><br>
                Se le mostrará una notificación de que el registro se ha llevado a cabo. 
                <br><br>
                La segunda opción para añadirlo es mediante un archivo CSV, la cual debe de llevar los siguientes encabezados de columnas {} y los pasos a seguir son;
                <br><br>
                1. Seleccionar el rol de alumno
                <br>
                2. Presionar en el botón "Subir archivo CSV"
                <br>
                3. Seleccionará el archivo que contenga los datos
                <br>
                4. Presionará en el botón de "Agregar usuario"
                <br><br>
                Se le mostrará una notificación sobre la acción realizada
                Al registrar un alumno se visualizará en su tabla correspondiente teniendo la posibilidad de modificar o eliminar el registro                
            </p>
        </section>
    </section>
</div>
</body>