<link rel="stylesheet" type="text/css" href="../public/CSS/sheet.css">
<link rel="stylesheet" type="text/css" media="screen and (prefers-color-scheme: no-preference)" href="../public/CSS/lightColorSheet.css">
<link rel="stylesheet" type="text/css" media="screen and (prefers-color-scheme: light)" href="../public/CSS/lightColorSheet.css">
<link rel="stylesheet" type="text/css" media="screen and (prefers-color-scheme: dark)" href="../public/CSS/darkColorSheet.css">
<link rel="stylesheet" type="text/css" media='screen' href="../public/CSS/navSheet.css">
<link rel="stylesheet" type="text/css" media='screen' href="../public/CSS/timerSheet.css">

<link rel="icon" href="../public/IMG/DeepTure.ico">
<link rel="shortcut icon" href="../public/IMG/DeepTure.ico">

<meta charset="utf-8">
</head>
<body>
<div>
    <section class="sectionSizeXLW autoManageSpaced" style="margin: 1%;">
        <!-- Izquierda -->
        <section class="squareSectionSizeLWAlt addTopMarginAlt centerText">
            <br><br>
            <p class="titleFont centerText">
                ¿Cómo puedo consultar soporte técnico?
            </p>
        </section>
        
        <!-- Derecha -->
        <section class="squareSectionSizeLWAlt addTopMarginAlt">
            <p>
                Para poder tener comunicación con el soporte técnico, diríjase al final de esta página donde habrá un botón que dice "Contactar a soporte", al darle clic le aparecerá 2 campos, una en donde deberá escribir su correo funcional y luego tendrá un espacio para redactar sus motivos de contactar con soporte técnico, el tiempo de respuesta será en menos de 60 horas a través de su correo electrónico
            </p>
        </section>
    </section>
</div>
</body>